CLOUDINARY_CLOUD_NAME
CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET
UNSPLASH_ACCESS_KEY 

FLASK_ENV
SECRET_KEY

RAZORPAY_KEY_ID
RAZORPAY_SECRET

EMAIL_HOST
EMAIL_PORT
EMAIL_USER
EMAIL_PASSWORD
EMAIL_FROM_ADDRESS

PORT
